language: php

# list any PHP version you want to test against
php:
  - 5.6
  - 7.0

env:
  - DB=mysql

before_script:
  - if [[ "$DB" == "mysql" ]]; then mysql -e "create database IF NOT EXISTS dimquality;" -uroot; fi

script: phpunit --configuration phpunit.xml --coverage-text