.btn-registrar{
    border-radius: 4px;
    border-color: #609dd2;
    background-color: #3277b3;
    color: #FFF;
    transition: 0.15s;
	-webkit-transition: 0.15s;
	-moz-transition: 0.15s;
	-o-transition: 0.15s;
}
.btn:hover {
	background-color: #4c91cd;
	color: #FFF;
	transition: 0.15s;
	-webkit-transition: 0.15s;
	-moz-transition: 0.15s;
	-o-transition: 0.15s;
}

.datetimepicker.datetimepicker-dropdown-bottom-left.dropdown-menu{
    background-color: white;
    color: black;
}

span.input-group-addon{
    background-color: white;
}

textarea{
    resize: none;
}

.btn{
    width: 20%;
}
.btn-cancelar {
    float: right;
   border-radius: 4px;
   border-color: #609dd2;
   background-color: #3277b3;
   color: #FFF;
   transition: 0.15s;
   -webkit-transition: 0.15s;
   -moz-transition: 0.15s;
   -o-transition: 0.15s;
}

#header{
    margin-bottom: -20%;
}
