/**
 * 1 -> Links de redes sociales
 * 2 -> Barra de navegacion
 * 3 -> Responsive
 * ===============================================
 */

/*
 * 1 -> LINKS DE REDES SOCIALES
 * ============================================
 */
.menubar-text{
	padding-top: 5%;
	color: #e52d35;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.menubar-text-scrolled{
	padding-top: 2%;
	color: #e52d35;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
a[class~="menubar-link-social"]:link, a[class~="menubar-link-social"]:visited{
	color: #e52d35;
	font-size: 18px;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
a[class~="menubar-link-social"]:hover{
	text-decoration: none;
	color: #666666;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
/*
 * 2 -> BARRA DE NAVEGACION
 * ============================================
 */
#header {
	background-color: #FFF;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    -webkit-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.navbar-scrolled{
	min-height: 0;
	max-height: 40px;
}
.navbar-default {
    background-color: #262626;
    border-color: #262626;
    border-radius: 0px;
}
.navbar-default .navbar-nav>li>a:link, .navbar-default .navbar-nav>li>a:visited {
    color: #FFF;
    margin: 0 5px;
    transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
}
/*.navbar-default .navbar-nav>li>a:focus, */.navbar-default .navbar-nav>li>a:hover {
    color: #337ab7;
    background-color: #FFF;
    font-weight: bold;
    transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #e52d35;
    background-color: #FFF;
}
.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}
.navbar .navbar-collapse {
 	text-align: right;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 15px 12.5px;
}
.nav-link-scrolled{
	padding: 10px 12.5px !important;
}
.dropdown-menu {
	background-color: #e94951;
}
.dropdown-menu>li>a {
	color: #fff;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
}
.dropdown-menu>li>a:hover {
	background-color: #FFF;
    color: #e52d35;
    font-weight: bold;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
}
/*
 * 3 -> RESPONSIVE
 * ============================================
 */
 @media (min-width:1200px) {
 	.menubar-text{
 		font-size: 16px;
 	}
 	.menubar-text-scrolled{
 		font-size: 16px;
 	}
 	a[class~="menubar-link-social"]:link, a[class~="menubar-link-social"]:visited{
 		font-size: 23px;
 	}
 }
 @media (max-width:1199px) {
 	.menubar-text{
 		font-size: 13px;
 	}
 	.menubar-text-scrolled{
 		font-size: 13px;
 	}
 
 	a[class~="menubar-link-social"]:link, a[class~="menubar-link-social"]:visited{
 		font-size: 20px;
 	}
 }
@media (max-width:991px) {
	.menubar-text{
		padding-top: 4.5%;
		font-size: 12px;
	}
	.menubar-text-scrolled{
 		font-size: 12px;
 	}
	a[class~="menubar-link-social"]:link, a[class~="menubar-link-social"]:visited{
		font-size: 14px;
	}
 	.navbar-default .navbar-nav>li>a {
 		font-size: 12px;
 		margin: 0 2.5px;
 	}
 	.nav>li>a {
 	    padding: 15px 6.5px;
 	}
}
@media (max-width:767px) {
	.menubar-text{
		font-size: 12px;
	}
	a[class~="menubar-link-social"]:link, a[class~="menubar-link-social"]:visited{
		font-size: 18px;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #FFF;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
	    background-color: #FFF;
	    color: #e52d35;
	}
	.navbar .navbar-nav {
		width: 100%;
	}
	.navbar-nav .open .dropdown-menu {
	    background-color: #e94951;
        text-align: center;
	}
}
@media (max-width:479px) {
	.menubar-text{
		font-size: 12px;
	}
	a[class~="menubar-link-social"]:link, a[class~="menubar-link-social"]:visited{
		font-size: 18px;
	}
}