body{
	font-family: 'Roboto', sans-serif;
}
.panel-heading {
    padding: 15px 15px;
    border-bottom: 1px solid transparent;
    color: #0D6AB0;
}
.login-panel {
	margin-top: 20%;
    background-color: #fff;
    border-radius: 0px;
    border: 1px solid #0D6AB0;
}
.login-panel .input-group-addon {
    border-radius: 0px;
    background-color: #0D6AB0;
    color: #33cc33;
    border: 1px solid #0D6AB0;
}
.login-panel .input-group .form-control {
    border: 1px solid #0D6AB0;
    border-radius: 0px;
}
.btn-login {
    border-radius: 0px;
    border-color: #0D6AB0;
    background-color: #0D6AB0;
    color: #33cc33;
    text-transform: uppercase;
    transition: 0.15s;
	-webkit-transition: 0.15s;
	-moz-transition: 0.15s;
	-o-transition: 0.15s;
}
.btn-login:hover{
	background-color: #33cc33;
	color: #0D6AB0;
	transition: 0.15s;
	-webkit-transition: 0.15s;
	-moz-transition: 0.15s;
	-o-transition: 0.15s;
}